# -*- mode: systemd; coding: utf-8; indent-tabs-mode: nil; -*-
[Unit]
Description=Run the script of nightly

[Service]
Type=oneshot
ExecStart=/bin/sh -c 'export NIGHTLY_CURRENT_TIMESTAMP=$(date +%%s); exec {{@@ projects.script_dir @@}}/services/runner.sh nightly'
Restart=no

[Install]
WantedBy=default.target
